# macOS
.DS_Store
.AppleDouble
.LSOverride

# Entorno Python
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# ChromaDB
chroma_db/

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
*.swp

# Logs
*.log
